.cover
  .cover-image{style: 'background-image: url(/images/cover.jpg)'}
  .cover-content
    .content{ data: {'0' => 'transform: translate3d(0px, 0px, 0px); opacity: 1;', '400' => 'transform: translate3d(0px, 150px, 0px); opacity: 0;'} }
      %h1
        test.bijint.com
      %h2
        まえけんテスト用です。

.post
  .post-content
    %p
      リンク：
    %p
      %a{ href: '/umaru', target: '_blank', title: 'うまる' } うまるちゃん
    %p
      %a{ href: '/tokei-onmouse', target: '_blank', title: '時計onMouse' } 時計onMouseテスト
    %p
      %a{ href: '/junior2', target: '_blank', title: '時計onMouse' } ジュニア時計テスト
    %p
      %a{ href: '/responsify-templete', target: '_blank', title: 'responsify-templete' } responsify-templete
    %p
      %a{ href: 'http://partner.bijin-tokei.co.jp', target: '_blank', title: 'BMS' } BMS
    %p
      %a{ href: 'http://www.bijint.com', target: '_blank', title: 'TOKEI' } TOKEI
    %p
      %a{ href: 'https://manage.bijint.com/console/', target: '_blank', title: 'TOKEI管理' } TOKEI管理
    .fill

:javascript
  var s = skrollr.init();
