<h1>Home#index</h1>

bundle init</p>
</p>
Gemfile railsのコメント解除</p>
bundle install --path vendor/bundle</p>
rails new . --skip-bundle</p>
Gemfile 以下を追加</p>
---</p>
group :development do</p>
  gem 'sqlite3'</p>
end</p>
group :production do</p>
  gem 'pg'</p>
  gem 'rails_12factor'</p>
end</p>
---</p>
bundle install --without production</p>
rails g scaffold hoge name:string location:string</p>
rake db:migrate</p>
rails sで確認</p>
</p>
heroku create [myappname]</p>
</p>
SourceTreeでローカル＆リモートリポジトリ作成</p>
heroku画面でgithubとの連携しとく</p>
SourceTreeでコミット</p>
</p>
git remote add heroku git@heroku.com:[myappname].git</p>
heroku run rake db:migrate</p>
//////////</p>
</p>
rails g controller home index</p>
config/route.rb に以下を追加</p>
root to: 'home#index'</p>
